//////////////////
//// Navbar edits

.sideNavbar {
    position: fixed !important;
    bottom: 0;
    top: 0;
}

#sidebar ul li > a:hover{
    background-color: $main-green !important;
}

#sidebar ul li > a:hover {
    background-color: $main-green !important;
    color:inherit;
    border-bottom: none;
}

#sidebar ul li.active > a:hover{
    background-color: $main-green !important;
    color:inherit;
}

#sidebar ul li.active > a:hover {
    background-color: $main-green !important;
    color:inherit;
    border-bottom: none;
}

.navbar-bottom{
    text-align: center;
    position: fixed;
    bottom: 65px;
    width: 13%;
}

.btnCollapseNavbar{
    background-color: $main-component !important;
    margin: -12px 2px 0px 0px;
    height: 50px;
    width: 50px;
}

.btnCollapseNavbar:hover{
    color: inherit;
    background-color: $main-green !important;
}

.btnCollapseNavbar:focus{
    color: inherit;
    background-color: $main-green !important;
}

.btnCollapseNavbar i{
    color: white  !important;
}



