/node_modules
/config/*_rsa*
/public/hot
/public/storage


/public/mix-manifest.json

/storage/*.key
/vendor
.env
.env.backup

.phpunit.result.cache

Homestead.json
Homestead.yaml

npm-debug.log
yarn-error.log
.idea
*_icescrum_api.js*

docs/timesheets/_icescrum_api.js
