//////////////////
//// STATES
//

.prep{
    background-color: white;
}

.ready{
    background-color: #8fd19e;
}

.inprog{
    background-color: #80bdff;
}

.finish{
    background-color: #adb5bd;
}

.poolHeader{
    font-size: 15px;
}

