.highlight {
    background-color: pink;
}

.tournament {
    border: solid 3px blue;
    padding: 2px;
    margin: 2px;
    display: flex;
    flex-direction: row;
}

.phase {
    border: solid 2px red;
    padding: 2px;
    margin: 2px;
    display: flex;
    flex-direction: column;
}

.pool {
    border: solid 1px green;
    padding: 2px;
    margin: 2px;
    display: flex;
    flex-direction: row;
}

.teamlist {
    border: solid 1px black;
    padding: 2px;
    margin: 2px;
    width: 50%;
}

.team {
    border: solid 1px gray;
    padding: 2px;
    margin: 2px;
}

#canvas {
    position: absolute;
    border: 1px solid red;
    z-index: -1;
}
