

.tournament {
    padding: 2px;
    margin: 2px;
    display: flex;
    flex-direction: row;
}

.phase {
    padding: 2px;
    margin: 2px;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.pool {
    padding: 2px;
    margin: 2px;
}

.teamlist {
    border: solid 1px black;
    padding: 2px;
    margin: 2px;
    width: 50%;
}

.team {
    border: solid 1px gray;
    padding: 2px;
    margin: 2px;
}

.rank {
    border: solid 1px gray;
    padding: 2px;
    margin: 2px;
}

#canvas {
    position: absolute;
    border: 1px solid red;
    z-index: -1;
}

.tableTeamList {
    width: 100%;
}

.phase {
    width: 25%;
}

.tableStyle {
    width: 100%;
}

.colorBackground {
    background-color: #9ee493d7;
}

.highlight {
    background-color: pink;
}

.closeButton {
    width: 50%;
}
